
:root {
  --primary : #9598ea;
  --error : #e84d4d;
  --font : sans-serif;
}

body {
  font-family: var(--font);
  background-color: #e6dfdf;
  margin: 0;
}

.container {
  margin: 2rem;
}

.container h2 {
  color: #5f7db0;
}

.pages {
  margin: 0 auto;
  max-width: 1400px;
}

button {
  font-family: var(--font);
  background-color: var(--primary);
  cursor: pointer;
  box-shadow: 1px 1px;
  padding: 5px;
  border-radius: 10px;
}

button:hover {
  background-color: #c3c4e9;
}

button:active {
  box-shadow: none
}

input, label {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* navbar */
header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

header .container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  text-decoration: none;
  color: rgb(143, 143, 236);
  font-size: 20px;
}

header a:hover{
  color: rgb(106, 106, 227);
}

nav button, nav span{
  margin-left: 1rem;
}

nav a {
  margin-left: 1rem;
}

.listing {
  display: none;
}

/* homepage */
.pending__todo, .completed__todo{
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px;
  padding: 2rem;
}

.pending__todo {
  background-color: #edcdcd;
  margin-top: 9rem;
}

.completed__todo {
  background-color: #b8e9b1;
}


.section__title {
  display: flex;
  align-items: center;
}

.section__title select{
  margin-left: 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px;
  padding: 0;
  height: 30px;
  font-weight:700;
  cursor: pointer;


}

.section__title select:hover{
  background-color: #e6dfdf;

}


.todos {
  display: flex;
  max-width: 1400px;
  margin: 1rem;
  box-shadow: 2px;
  flex-wrap: wrap;

}

.todo__details {
  position: relative;
  margin: 1rem;
  box-shadow: 2px;
  width: 180px;
  height: 220px;
  border: 2px solid rgb(191, 183, 183);
  border-radius: 10px;
  background-color: #eae8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo__details:hover i, .todo__details:hover button{
  opacity: 1 ;
  transition:  all 0.5s ease-in-out;
}


.todo__details input,textarea {
  border: none;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  resize: none;
  
}

.todo__details input:focus,textarea:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.todo__details button {
  font-size: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.todo__title{
  padding: 9px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}

.todo__title input{
  font-weight: bold;
  font-size: 20px;

}



.todo__description {
  padding: 9px;
  font-size: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.todo__description textarea {
  background-color: #eae8e8;
  width: 100%;
  font-size: 15px;
  flex-grow: 1;
}

.todo__description p {
  font-size: 10px;
  margin: 0;
}

.todo__description i {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition:  all 0.3s ease-in-out;
}

.todo__description button {
  opacity: 0;
  transition:  all 0.3s ease-in-out;
}

.delete {
  cursor: pointer;
}


.create__todo {
  margin: 1rem;
  width: 180px;
  height: 220px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:  all 0.2s ease-in-out;
}

.create__todo:hover {
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  box-shadow: 2px;
  width: 180px;
  height: 220px;
  border-radius: 10px;
  background-color: #eae8e8;
  transition:  all 0.3s ease-in-out;
}



/* form */

form.login, form.signup {
  max-width: 350px;
  margin: 9rem auto 40px auto;
  display: flex;
  flex-direction: column;
}

form h3 {
  text-align: center;
}

form button {
  max-width: 100px;
}

.login input,.signup input{
  border-radius: 10px;
}

.loginButton {
  display: flex;
  justify-content: space-around;
}

.tryMe {
  background-color: red;
  color: white;
}


/* modal */
   .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.3s;
  }

  .modal h3 {
    text-align: center;
  }

  .modalButton {
    display: flex;
    justify-content: center;
  }
  
  .modalButton button {
    background: var(--error);
    color: #fff;
    border: 0;
    padding: 10px;
    font-family: var(--font);
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem;
    box-shadow: 2px 2px black;
  } 

  .modalButton button:active {
    box-shadow: none;
  }

  /* weather */
  .weather {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .weather select{
    border: none;
  }

  .weather option, .weather div{
    text-align: center;
  }

  /* error */
  .error {
    color: rgb(233, 105, 105);
    font-size: 10px;
    margin: 0 auto;
  }

  .formError {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
  }


  @media screen and (max-width:1440px) {
  header .container{
    justify-content: space-around;
  }
  }

  @media screen and (max-width:992px) {
    .section__title {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width:768px) {
    .google-style {
      margin: 1rem;
    }

    .container{
      margin-left: 10px;
      margin-right: 10px;
    }

    .user {
      position: fixed;
      top: -50%;
      left: -50%;
      transform: translate(50%, 50%);
    }

    .user a, .user button {
      margin-top: 1rem;
    }

    .show__menu {
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      width: 100%;
      height: 40%;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid grey;
      border-radius: 0 0 10px 10px;
    }

    .listing {
      position: relative;
      z-index: 1;
      display: block;
    }

    .pending__todo, .completed__todo{
      padding: 0;
    }

    .todos {
      justify-content: center;
      margin: 0;
    }

    .todo__details,.create__todo, .create__todo:hover {
      width: 140px;
      height: 180px;
    }

    .create__todo .bx-lg {
      font-size: 2rem !important;
    }

    .todo__details {
      margin: 10px;
    }
    .todo__details input{
      font-size: 15px;
    }

    .todo__details textarea{
      font-size: 12px;
      text-align: center;
    }

    .todo__details p{
      font-size: 8px;
      text-align: center;
    }

    .todo__title input{
      text-align: center;
    }

    .modal h3{
      font-size: 15px;
    }

    .modalButton button {
      width: 35px;
      height: 35px;
      padding: 0;
    }
  }

  @media screen and (max-width:375px) {
    .google-style span{
      font-size: 30px;
    }

    .weather, .weather select {
      font-size: 12px;
    }

    img{
      width: 70px;
      height: auto;
    }



    .section__title {
      flex-direction: column;
    }

    .section__title select{
      margin-left: 0;
    }

    .todo__details,.create__todo, .create__todo:hover {
      width: 120px;
      height: 160px;
    }

    .todo__details input{
      font-size: 13px;
    }

  }

  /* google style */
  .google-style {
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  .blue {
    color: #4285F4; /* Google Blue */
  }
  
  .red {
    color: #EA4335; /* Google Red */
  }
  
  .yellow {
    color: #FBBC05; /* Google Yellow */
  }
  
  .green {
    color: #34A853; /* Google Green */
  }

  /* loader */
  .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid blue;
    border-right: 8px solid green;
    border-bottom: 8px solid red;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }